Repository cetz-package/cetz, pull requests merged in 2023-10, with the labels that each got.

#237 Improvements to `brace`
  manual.typ
  src/lib/decorations.typ
Labels: enhancement, lib:decorations

#238 feat(decorations): add flat-brace
  manual.typ
  src/lib/decorations.typ
  tests/decorations/ref.png
  tests/decorations/test.typ
Labels: feature :gift:, lib:decorations

#242 Support axis max value for charts
  src/lib/chart.typ
  tests/chart/ref.png
  tests/chart/test.typ
  tests/decorations/ref.png
  tests/plot/ref.png
  tests/relative-length/ref.png
  tests/tree/ref.png
Labels: enhancement, lib:chart

#245 tests: Allow nested tests
  scripts/test
  tests/plot/parametric/ref.png
  tests/plot/parametric/test.typ
  tests/plot/ref.png
  tests/plot/test.typ
Labels: enhancement

#255 draw: Fix miter calculation
  src/draw.typ
  tests/arrows/ref.png
  tests/arrows/test.typ
  tests/axes/ref.png
  tests/intersection/ref.png
  tests/mark/auto-offset/ref.png
  tests/mark/auto-offset/test.typ
  tests/mark/types/ref.png
  tests/mark/types/test.typ
  tests/marks/ref.png
  tests/plot/ref.png
  tests/style/ref.png
  tests/tree/ref.png
Labels: bug :bug:, core:draw

#243 plot: Contour Plots
  CHANGES.md
  manual.pdf
  manual.typ
  src/lib/plot.typ
  src/lib/plot/contour.typ
  src/lib/plot/line.typ
  src/lib/plot/mark.typ
  src/lib/plot/sample.typ
  src/lib/plot/util.typ
  tests/plot/contour/ref.png
  tests/plot/contour/test.typ
  tests/plot/hvline/ref.png
  tests/plot/hvline/test.typ
  tests/plot/line/fill/ref.png
  tests/plot/line/fill/test.typ
  tests/plot/line/line-type/ref.png
  tests/plot/line/line-type/test.typ
  tests/plot/line/linearization/ref.png
  tests/plot/line/linearization/test.typ
  tests/plot/line/mark/ref.png
  tests/plot/line/mark/test.typ
  tests/plot/line/spline/ref.png
  tests/plot/line/spline/test.typ
  tests/plot/parametric/ref.png
  tests/plot/parametric/test.typ
  tests/plot/ref.png
  tests/plot/test.typ
Labels: feature :gift:, lib:plot

#264 chart: Add options for tick formatting
  src/lib/chart.typ
  tests/chart/ref.png
  tests/chart/test.typ
Labels: lib:chart

#276 Introducing the dendrogram
  src/lib/chart.typ
  src/lib/chart/dendrogram.typ
  tests/chart/dendrogram/test.typ
Labels: lib:chart

#280 Save you some headache on `get-case`
  src/lib/plot/contour.typ
Labels: enhancement

#269 plot: Improve tick documentation
  src/lib/plot.typ
Labels: documentation

#271 plot: Contour Fixes
  src/lib/plot/contour.typ
  tests/plot/contour/ref.png
  tests/plot/contour/test.typ
Labels: bug :bug:, lib:plot

#268 plot: Minor Fixes
  src/lib/plot.typ
  src/lib/plot/line.typ
  tests/plot/hvline/ref.png
  tests/plot/hvline/test.typ
Labels: bug :bug:

#288 tests: Test fixes
  scripts/test
  src/lib/plot/contour.typ
  tests/local-package/ref.png
  tests/local-package/test.typ
Labels: bug :bug:

#287 `plot.add-boxwhisker` - A second take on box-whisker plots
  src/lib/chart.typ
  src/lib/chart/boxwhisker.typ
  src/lib/plot.typ
  src/lib/plot/boxwhisker.typ
  tests/chart/boxwhisker/test.typ
  tests/plot/boxwhisker/test.typ
Labels: lib:plot

#293 plot: Boxwhisker fixups
  src/lib/chart/boxwhisker.typ
  src/lib/plot.typ
  src/lib/plot/boxwhisker.typ
  tests/chart/boxwhisker/ref.png
  tests/chart/boxwhisker/test.typ
  tests/plot/boxwhisker/ref.png
  tests/plot/boxwhisker/test.typ
Labels: lib:plot, lib:chart

#294 plot: Boxwhisker manual
  manual.typ
  src/lib/chart/boxwhisker.typ
  src/lib/plot/boxwhisker.typ
Labels: documentation, lib:plot, lib:chart

#297 Move charts into subdirectory
  src/lib/chart.typ
  src/lib/chart/barchart.typ
  src/lib/chart/barcol-common.typ
  src/lib/chart/columnchart.typ
Labels: lib:chart

#249 plot: Fill Between
  CHANGES.md
  manual.typ
  src/lib/plot.typ
  src/lib/plot/contour.typ
  src/lib/plot/line.typ
  src/lib/plot/sample.typ
  tests/plot/line/between/ref.png
  tests/plot/line/between/test.typ
Labels: feature :gift:, lib:plot

#302 plot: Support reversing, rotating and locking axes
  src/lib/axes.typ
  src/lib/plot.typ
  src/lib/plot/util.typ
  src/matrix.typ
  tests/plot/equal-axis/ref.png
  tests/plot/equal-axis/test.typ
  tests/plot/reverse-axis/ref.png
  tests/plot/reverse-axis/test.typ
  tests/plot/vertical/ref.png
  tests/plot/vertical/test.typ
Labels: enhancement :arrow_up:, lib:plot

#308 tests: Support test filters
  justfile
  scripts/test
Labels: enhancement :arrow_up:

#307 matrix: Unroll matrix-vector product
  src/matrix.typ
  src/util.typ
Labels: enhancement :arrow_up:

#305 shapes: Bezier Previous Position
  src/draw/shapes.typ
  tests/bezier/ref.png
  tests/bezier/test.typ
Labels: bug :bug:
