Repository cetz-package/cetz, pull requests merged in 2023-12, with the labels that each got.

#273 shapes: Arc through
  CHANGES.md
  manual.pdf
  src/draw.typ
  src/draw/shapes.typ
  src/util.typ
  tests/arc/arc-through/ref.png
  tests/arc/arc-through/test.typ
  tests/arc/ref.png
  tests/arc/test.typ
Labels: core:draw :pencil2:

#360 arc: Set previous point to arc end
  manual.pdf
  src/draw/shapes.typ
  src/styles.typ
  tests/arc/last-pos/ref.png
  tests/arc/last-pos/test.typ
Labels: bug :bug:, core:draw :pencil2:

#373 plot: Set justify: false for plot labels
  src/lib/axes.typ
  tests/plot/legend/ref.png
  tests/plot/ref.png
Labels: bug :bug:, lib:plot

#377 Rework style (again)
  doc/style.typ
  manual.pdf
  manual.typ
  src/canvas.typ
  src/draw/grouping.typ
  src/draw/shapes.typ
  src/lib/angle.typ
  src/lib/axes.typ
  src/lib/chart/barchart.typ
  src/lib/chart/columnchart.typ
  src/lib/decorations.typ
  src/lib/plot.typ
  src/lib/plot/legend.typ
  src/styles.typ
  src/util.typ
  tests/arc/ref.png
  tests/axes/test.typ
Labels: enhancement :arrow_up:, core:styling

#350 shapes: Radius Support for Rect
  CHANGES.md
  src/draw/grouping.typ
  src/draw/shapes.typ
  src/lib/axes.typ
  src/lib/plot/legend.typ
  src/path-util.typ
  src/styles.typ
  src/util.typ
  tests/anchor-on-path/ref.png
  tests/anchor-on-path/test.typ
  tests/anchor/element-anchors/ref.png
  tests/anchor/element-anchors/test.typ
  tests/bounds/ref.png
  tests/group/transform/ref.png
  tests/mark/place-marks/ref.png
  tests/plot/legend/ref.png
  tests/rect/rounded/ref.png
  tests/rect/rounded/test.typ
  tests/rect/test.typ
  tests/rotation/ref.png
Labels: core:draw :pencil2:, core:styling

#337 chart: Move Bar- & Columnchart to Plot
  gallery/barchart.png
  gallery/barchart.typ
  manual.pdf
  manual.typ
  src/lib/axes.typ
  src/lib/chart/barchart.typ
  src/lib/chart/boxwhisker.typ
  src/lib/chart/columnchart.typ
  src/lib/plot.typ
  src/lib/plot/bar.typ
  tests/axes/test.typ
  tests/chart/boxwhisker/ref.png
  tests/chart/ref.png
Labels: enhancement :arrow_up:, lib:plot, lib:chart :chart:

#332 Improve Palettes
  manual.typ
  src/lib/palette.typ
  src/lib/plot/boxwhisker.typ
  tests/palette/ref.png
  tests/palette/test.typ
Labels: enhancement :arrow_up:

#342 chart: Pie Chart
  CHANGES.md
  gallery/pie-chart.png
  gallery/pie-chart.typ
  manual.typ
  src/intersection.typ
  src/lib/chart.typ
  src/lib/chart/piechart.typ
  src/util.typ
  tests/chart/piechart/ref.png
  tests/chart/piechart/test.typ
Labels: feature :gift:, lib:chart :chart:

#378 line: Draw line between element borders
  CHANGES.md
  src/anchor.typ
  src/coordinate.typ
  src/draw/shapes.typ
  src/intersection.typ
  src/process.typ
  src/util.typ
  tests/intersection/test.typ
  tests/line/element-element/ref.png
  tests/line/element-element/test.typ
Labels: feature :gift:, core:draw :pencil2:

#379 intersections: Support named elements
  src/draw/grouping.typ
  tests/intersection/ref.png
  tests/intersection/test.typ
Labels: feature :gift:, core:draw :pencil2:

#376 hide: Hide elements
  CHANGES.md
  src/canvas.typ
  src/draw.typ
  src/draw/grouping.typ
  src/draw/shapes.typ
  src/drawable.typ
  src/process.typ
  tests/hide/ref.png
  tests/hide/test.typ
Labels: feature :gift:, core:draw :pencil2:

#388 bezier: Fix root precision bug
  src/bezier.typ
Labels: bug :bug:

#390 Offset Paths to (0, 0)
  src/canvas.typ
  tests/anchor-on-path/ref.png
  tests/anchor/element-anchors/ref.png
  tests/angle/ref.png
  tests/arc/arc-through/ref.png
  tests/arc/ref.png
  tests/bezier-through/ref.png
  tests/bezier/ref.png
  tests/chart/piechart/ref.png
  tests/circle-through/ref.png
  tests/circle/ref.png
  tests/content/transform/ref.png
  tests/decorations/ref.png
  tests/gradient/ref.png
  tests/gradient/test.typ
  tests/intersection/ref.png
  tests/mark/auto-offset/ref.png
  tests/mark/multiple/ref.png
  tests/mark/place-marks/ref.png
  tests/merge/ref.png
  tests/plot/contour/ref.png
  tests/plot/legend/ref.png
  tests/plot/line/between/ref.png
  tests/plot/line/fill/ref.png
  tests/plot/line/line-type/ref.png
  tests/plot/parametric/ref.png
  tests/plot/ref.png
  tests/rect/rounded/ref.png
  tests/tree/ref.png
  tests/viewport/ref.png
Labels: bug :bug:

#406 Group external dependencies in single file
  src/anchor.typ
  src/coordinate.typ
  src/deps.typ
  src/draw/grouping.typ
  src/lib.typ
  src/util.typ
Labels: enhancement :arrow_up:

#405 axes: Make tick limit configurable
  src/lib/axes.typ
Labels: enhancement :arrow_up:, lib:plot

#402 scripts: Add script for changing all abs paths
  justfile
  scripts/package
  scripts/relpaths
Labels: feature :gift:

#411 Piechart Color Arrays
  src/lib/chart/piechart.typ
Labels: enhancement :arrow_up:

#346 canvas: Fix bug when using canvas insides tablex
  src/canvas.typ
Labels: bug :bug:

#415 angle: Add Right Angle Function
  src/lib/angle.typ
  tests/angle/right-angle/ref.png
  tests/angle/right-angle/test.typ
Labels: feature :gift:, lib:angle

#407 transform: Add option for setting the origin
  src/draw/shapes.typ
  src/draw/transformations.typ
  tests/rotation/around/ref.png
  tests/rotation/around/test.typ
  tests/rotation/test.typ
Labels: feature :gift:, core:draw :pencil2:

#386 Support Content Intersections
  src/draw/grouping.typ
  src/draw/shapes.typ
  src/drawable.typ
  tests/content/intersection/ref.png
  tests/content/intersection/test.typ
  tests/intersection/ref.png
  tests/intersection/test.typ
  tests/line/element-element/ref.png
  tests/line/element-element/test.typ
Labels: enhancement :arrow_up:, core:draw :pencil2:

#381 Distance and Angle Path Anchors
  CHANGES.md
  manual.typ
  src/anchor.typ
  src/coordinate.typ
  src/draw/grouping.typ
  src/draw/shapes.typ
  src/drawable.typ
  tests/anchor/element-anchors/ref.png
  tests/anchor/path-anchors/ref.png
  tests/anchor/path-anchors/test.typ
  tests/arc/ref.png
  tests/chart/piechart/ref.png
  tests/group/transform/ref.png
  tests/group/translate/ref.png
  tests/plot/legend/ref.png
  tests/plot/ref.png
  tests/rect/rounded/ref.png
Labels: enhancement :arrow_up:, feature :gift:

#422 plot: Use absolute lengths in default style
  src/lib/axes.typ
Labels: bug :bug:, lib:plot, core:styling

#423 plot: Refine default style
  src/lib/axes.typ
  src/lib/chart/barchart.typ
  src/lib/chart/boxwhisker.typ
  src/lib/chart/columnchart.typ
  tests/axes/ref.png
  tests/chart/boxwhisker/ref.png
  tests/chart/ref.png
  tests/plot/grid/ref.png
  tests/plot/grid/test.typ
  tests/plot/ref.png
Labels: lib:plot, core:styling
