Repository cetz-package/cetz, pull requests merged in 2024-03, with the labels that each got.

#513 chart: Fix piechart clockwise style
  CHANGES.md
  src/lib/chart/piechart.typ
  tests/chart/piechart/ref/1.png
  tests/chart/piechart/test.typ
Labels: bug :bug:, lib:chart :chart:

#504 projection: Add orthographic projection utilities
  CHANGES.md
  manual.typ
  src/draw.typ
  src/draw/projection.typ
  tests/projection/ortho/ref/1.png
  tests/projection/ortho/test.typ
Labels: feature :gift:, core:draw :pencil2:

#524 decoration: Fix flat-brace rotation
  CHANGES.md
  src/lib/decorations/brace.typ
  tests/content/anchor/ref/1.png
  tests/content/rotate/ref/1.png
  tests/decorations/ref/1.png
  tests/decorations/test.typ
  tests/helper.typ
  tests/tree/ref/1.png
Labels: bug :bug:, lib:decorations

#530 plot: Fix Axis Mirroring
  CHANGES.md
  src/lib/axes.typ
  src/lib/plot.typ
  tests/axes/ref/1.png
  tests/plot/annotation/ref/1.png
  tests/plot/boxwhisker/ref/1.png
  tests/plot/contour/ref/1.png
  tests/plot/grid/ref/1.png
  tests/plot/line/line-type/ref/1.png
  tests/plot/line/linearization/ref/1.png
  tests/plot/line/mark/ref/1.png
  tests/plot/line/spline/ref/1.png
  tests/plot/mirror-axes/ref/1.png
  tests/plot/mirror-axes/test.typ
  tests/plot/parametric/ref/1.png
  tests/plot/ref/1.png
  tests/plot/reverse-axis/ref/1.png
  tests/plot/vertical/ref/1.png
Labels: bug :bug:, feature :gift:, lib:plot

#523 Nested anchors and String Shorthand for Path and Border Anchors
  CHANGES.md
  manual.pdf
  manual.typ
  src/anchor.typ
  src/coordinate.typ
  src/draw/grouping.typ
  src/process.typ
  src/util.typ
  tests/group/nested-anchor/ref/1.png
  tests/group/nested-anchor/test.typ
Labels: enhancement :arrow_up:, core:draw :pencil2:

#531 matrix: Enable rounding for matrix multiplication
  CHANGES.md
  src/matrix.typ
  tests/chart/ref/1.png
  tests/intersection/ref/1.png
  tests/plot/contour/ref/1.png
  tests/plot/line/between/ref/1.png
  tests/plot/line/fill/ref/1.png
  tests/plot/ref/1.png
  tests/transform/precission/ref/1.png
  tests/transform/precission/test.typ
Labels: bug :bug:

#526 Apply Typst 11 Changes
  .github/workflows/ci.yml
  CHANGES.md
  doc/style.typ
  manual.pdf
  requirements.typ
  src/canvas.typ
  src/path-util.typ
  src/util.typ
  tests/anchor/element-anchors/ref/1.png
  tests/angle/ref/1.png
  tests/angle/right-angle/ref/1.png
  tests/axes/ref/1.png
  tests/bezier/shorten/ref/1.png
  tests/chart/boxwhisker/ref/1.png
  tests/chart/piechart/ref/1.png
  tests/chart/ref/1.png
  tests/content/anchor/ref/1.png
  tests/content/intersection/ref/1.png
  tests/content/padding/ref/1.png
  tests/content/ref/1.png
  tests/content/rotate/ref/1.png
  tests/content/rtl/ref/1.png
  tests/content/transform/ref/1.png
  tests/coordinate/lerp/ref/1.png
  tests/group/nested-anchor/ref/1.png
  tests/group/transform/ref/1.png
  tests/group/translate/ref/1.png
  tests/hide/ref/1.png
  tests/intersection/ref/1.png
  tests/layer/ref/1.png
  tests/line/element-element/ref/1.png
  tests/plot/annotation/ref/1.png
  tests/plot/boxwhisker/ref/1.png
  tests/plot/contour/ref/1.png
  tests/plot/equal-axis/ref/1.png
  tests/plot/grid/ref/1.png
  tests/plot/hvline/ref/1.png
  tests/plot/legend/ref/1.png
  tests/plot/line/between/ref/1.png
  tests/plot/line/fill/ref/1.png
  tests/plot/line/line-type/ref/1.png
  tests/plot/line/linearization/ref/1.png
  tests/plot/line/mark/ref/1.png
  tests/plot/line/spline/ref/1.png
  tests/plot/mirror-axes/ref/1.png
  tests/plot/parametric/ref/1.png
  tests/plot/ref/1.png
  tests/plot/reverse-axis/ref/1.png
  tests/plot/vertical/ref/1.png
  tests/projection/ortho/ref/1.png
  tests/relative-length/ref/1.png
  tests/set-get-ctx/ref/1.png
  tests/translation/ref/1.png
  tests/tree/ref/1.png
  tests/viewport/ref/1.png
  typst.toml
Labels: enhancement :arrow_up:
