Repository cetz-package/cetz, pull requests merged in 2024-02, with the labels that each got.

#485 bezier: Remove unused function
  src/bezier.typ
Labels: enhancement :arrow_up:

#486 plot: Fix annotations
  CHANGES.md
  src/lib/plot/annotation.typ
Labels: bug :bug:, lib:plot

#473 manual: List all marks
  manual.typ
  src/draw/grouping.typ
  src/lib/tree.typ
Labels: bug :bug:, documentation

#487 Content Size Rounding
  src/draw/shapes.typ
  tests/line/element-element/ref.png
  tests/plot/annotation/ref.png
  tests/plot/line/linearization/ref.png
  tests/plot/line/spline/ref.png
  tests/plot/ref.png
  tests/plot/reverse-axis/ref.png
Labels: bug :bug:, core:draw :pencil2:

#491 grouping: Handle none as empty array
  src/draw/grouping.typ
  src/util.typ
  tests/group/empty/ref/1.png
  tests/group/empty/test.typ
  tests/layer/ref/1.png
  tests/layer/test.typ
Labels: enhancement :arrow_up:, core:draw :pencil2:

#495 Fix: Prevent divide by zero error if a segment has zero length
  src/path-util.typ
Labels: bug :bug:

#499 hide: Add bounds parameter
  CHANGES.md
  src/draw/grouping.typ
  src/drawable.typ
  src/process.typ
  tests/hide/ref/1.png
  tests/hide/test.typ
Labels: core:draw :pencil2:

#503 Don't add center or default anchors to groups with no bounds
  src/draw/grouping.typ
  tests/group/empty/test.typ
Labels: bug :bug:

#479 Rework Plot Axes
  CHANGES.md
  manual.typ
  src/lib/axes.typ
  src/lib/plot.typ
  tests/axes/ref/1.png
  tests/axes/test.typ
  tests/chart/boxwhisker/ref/1.png
  tests/chart/ref/1.png
  tests/group/none/ref.png
  tests/group/none/ref/1.png
  tests/group/none/test.typ
  tests/plot/annotation/ref/1.png
  tests/plot/boxwhisker/ref/1.png
  tests/plot/contour/ref/1.png
  tests/plot/equal-axis/ref/1.png
  tests/plot/grid/ref/1.png
  tests/plot/hvline/ref/1.png
  tests/plot/legend/ref/1.png
  tests/plot/line/between/ref/1.png
  tests/plot/line/fill/ref/1.png
  tests/plot/line/line-type/ref/1.png
  tests/plot/line/linearization/ref/1.png
  tests/plot/line/mark/ref/1.png
  tests/plot/line/spline/ref/1.png
  tests/plot/parametric/ref/1.png
  tests/plot/ref/1.png
  tests/plot/reverse-axis/ref/1.png
  tests/plot/test.typ
  tests/plot/vertical/ref/1.png
Labels: lib:plot

#493 mark: Support placing marks post-transform
  CHANGES.md
  manual.typ
  src/draw/shapes.typ
  src/drawable.typ
  src/lib/plot/annotation.typ
  src/mark.typ
  src/styles.typ
  tests/mark/shape-transform/ref/1.png
  tests/mark/shape-transform/test.typ
  tests/plot/annotation/ref/1.png
  tests/plot/annotation/test.typ
Labels: enhancement :arrow_up:, lib:plot, core:draw :pencil2:, core:styling

#505 canvas: Change default transform to remove z
  CHANGES.md
  src/canvas.typ
  tests/decorations/path/ref/1.png
Labels: bug :bug:, core:draw :pencil2:

#509 piechart: Change direction to clockwise
  CHANGES.md
  src/lib/chart/piechart.typ
  tests/chart/piechart/ref/1.png
  tests/chart/piechart/test.typ
Labels: enhancement :arrow_up:, lib:chart :chart:
